@media screen and (min-width: 961px) and (max-width: 1200px) {
  .logo {
    background-color: #2b2f3eff;
    height: 100% !important;
    padding-top: 1%;
  }
  .tasks-list {
    margin: 30px 10px auto 15px;
  }
  .commentsbar {

    margin-top: 30px;

  }
}

@media (max-width: 960px) {
  .logo {
    background-color: #2b2f3eff;
    height: 15%;
    padding-top: 1%;
  }
  .tasks-list {
    margin: 30px 10px auto 15px;
  }
  .commentsbar {

    margin-top: 30px;

  }
}
